// Global styling for this template

body {
  @include body-font;
  padding-top: 54px;
  color: $gray-600;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 800;
  text-transform: uppercase;
  color: $gray-800;
}

h1 {
  font-size: 4rem;
  line-height: 2rem;
  // font-weight: 900;
}

.surname {
  font-weight: 100;
}

.role {
  font-family: 'Satisfy', cursive;
  color: $gray-600;
  font-size: 2rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;

}

.resume-section {
  .container {
    padding-left: 0;
  }
}

.hey {
  font-size: 10rem;
  color: $warning;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.5rem;
}

.social-icons {
  a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: $gray-700;
    color: $white !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: $warning;
    }
  }
}

.dev-icons {
  font-size: 3rem;

  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}





.articles {
  padding: 50px 30px 100px 30px;
  margin: 0 auto;
  background-color: $veryLightGray;

  h1 {
    margin: 15px;
  }

  @media (max-width: $breakpoint-tablet) {
    h1 {
      text-align: center;
    }
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .cards_item {
    display: flex;
    padding: 1rem;
    background-color: $veryLightGray;

    a {
      position: absolute;
      top: 90%;
    }

    &:hover {

      .card-info {
        opacity: 1;
        // bottom: 120px;
        // background: url(); 
        background: linear-gradient(to bottom, rgba(236, 235, 235, .4) 40%, #fff 100%);
        height: 100%;
      }

      .color-overlay {
        background: rgba(84, 104, 110, 0.8);
      }
    }

    .card-info {
      width: 100%;
      position: absolute;
      // bottom: 100px;
      left: 0;
      margin: 0 auto;
      padding: 0 50px;
      color: $gray-800;
      font-family: 'Droid Serif', serif;
      font-style: 16px;
      line-height: 24px;
      z-index: 20;
      opacity: 0;
      transition: bottom .3s, opacity .3s cubic-bezier(.33, .66, .66, 1);
    }


    .color-overlay {
      /* Rectangle 11: */
      background: rgba(84, 104, 110, 0.4);
      // width: $card-width;
      // height: $card-height;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      transition: background .3s cubic-bezier(.33, .66, .66, 1);
    }

    @media (max-width: $breakpoint-tablet) {
      padding: 0;
      margin-bottom: 40px;
    }
  }

  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }

  @media (min-width: 56rem) {
    .cards_item {
      width: 33.33%;
    }
  }

  .card {
    background-color: $primaryWhite;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  }

  .content-image {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .article-caption {
    padding: 0.5rem 1.5rem;

    h6 {
      margin: 10px 5px 10px 0px;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .articles {
    padding: 30px 30px;
  }
}