// Global styling for this template

body {
  @include body-font;
  padding-top: 54px;
  color: $gray-600;
}



@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 800;
  text-transform: uppercase;
  color: $gray-800;
}

h1 {
  font-size: 4rem;
  line-height: 2rem;
  // font-weight: 900;
}

@media (max-width: 505px) {
  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

.surname {
  font-weight: 100;
}

.role {
  font-family: 'Satisfy', cursive;
  color: $gray-600;
  font-size: 2rem;
}



@media (max-width: 505px) {
  .role {
    font-size: 1rem;
  }
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

.resume-section {
  .container {
    padding-left: 0;
  }
}

.hey {
  font-size: 10rem;
  color: $warning;
}

@media (max-width: 594px) {
  .hey {
    font-size: 6rem;
  }

  .triangle {
    display: none;
  }
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.5rem;
}

.social-icons {
  a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: $gray-700;
    color: $white !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: $warning;
    }
  }
}

.dev-icons {
  font-size: 3rem;

  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}

.articles {
  padding: 50px 30px 100px 30px;
  margin: 0 auto;
  background-color: $veryLightGray;

  h1 {
    margin: 15px;
  }

  @media (max-width: $breakpoint-tablet) {
    h1 {
      text-align: center;
    }
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    img {
      height: auto;
    }

    .project-before {
      display: block;
      text-decoration: none;
      font-weight: 500;
      margin-top: -20px;
      color: #666;
      border-radius: 15px;
      font-size: 1rem;
      margin-left: 30%;

      span {
        margin-right: 10px;
      }
    }
  }

  .cards_item {
    display: flex;
    padding: 1rem;
    background-color: $veryLightGray;

    a {
      position: absolute;
      top: 90%;
    }

    &:hover {
      .project-before {
        display: none;
      }

      .card-info {
        opacity: 1;
        background: linear-gradient(to bottom,
            rgba(73, 80, 87, 0.9) 40%,
            rgba(73, 80, 87, 0.9) 100%);
        height: 100%;
      }

      .color-overlay {
        background: rgba(84, 104, 110, 0.8);
      }
    }

    .card-info {
      width: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      // bottom: 100px;
      left: 0;
      margin: 0 auto;
      padding: 0 20px;
      color: #fafafa;
      font-family: 'Muli', serif;
      font-style: 16px;
      line-height: 24px;
      z-index: 20;
      opacity: 0;
      transition: bottom 0.3s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
      border-radius: 0.25rem;
      text-align: center;

      a {
        display: block;
        background: $warning;
        text-decoration: none;
        font-weight: 500;
        padding: 5px 15px;
        margin-top: -20px;
        color: #fafafa;
        border-radius: 15px;
        font-size: 1rem;
      }
    }

    .color-overlay {
      /* Rectangle 11: */
      background: rgba(84, 104, 110, 0.4);
      // width: $card-width;
      // height: $card-height;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
    }

    @media (max-width: $breakpoint-tablet) {
      padding: 0;
      margin-bottom: 40px;
    }
  }

  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }

  @media (min-width: 56rem) {
    .cards_item {
      width: 33.33%;
    }
  }

  .card {
    background-color: $primaryWhite;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  }

  .content-image {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .article-caption {
    padding: 0.5rem 1.5rem;

    h6 {
      margin: 10px 5px 10px 0px;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .articles {
    padding: 30px 30px;
  }
}

.tablist {
  margin-bottom: 30px;

  .tab-head {
    border: none;
    margin-left: 15px;
    padding: 10px 0px 5px 0px;
  }

  .tab-head:focus {
    outline: none;
    box-shadow: none;
  }
}